.page-container {
    background-color: rgb(82, 82, 82);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}


.input-container {

    border: 1px solid red;
    min-width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;

}

.message-container {
    background-color: bisque;
    min-height: 80vh;
    max-height: 80vh;
    overflow: scroll;
}

.chat-input  {
    max-width: 50%;
    height: 60px;
}

.input-button {
    max-width: 50%;
}
