/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    margin: auto;
    font-family: 'Questrial', sans-serif;
    overflow-x: hidden;

}


::-webkit-scrollbar {
    display: none;
}

.login-page-container {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


@keyframes slideAnimation {
    from {
        margin-top: -100px;
    }

    to {
        margin-top: 0px
    }
}

.login-form {
    background: rgb(88, 88, 88);
    width: 20%;
    height: 60vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.349);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-top: 0px;
    animation-name: slideAnimation;
    animation-duration: 1s;

}


.login-form:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);

}

.login-button {
    border: none;
    background: #42A7E6;
    width: 70%;
    height: 40px;
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    transition-property: background;
    margin: 10px;
    align-items: center;
}

.login-button:hover {

    background: #2f719b;
    transition-duration: .5s;
}