/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    margin: auto;
    font-family: 'Questrial', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}